.item1 { grid-area: header; }
.item2 { grid-area: photo; }
.item3 { grid-area: main; }
.item4 { grid-area: yes; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'photo main main main yes yes'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-image: url("Background.jpg");
 
  padding: 10px;
}


.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-family: sans-serif;
  color: rgb(131, 14, 20);
  
}
